html, body {
    margin: 0;
    padding: 0;
  }
canvas {
    display: block;
  }
body {
    display: flex;
    justify-content: center;
    align-items: center; /* Modificato per centrare il contenuto verticalmente */
    height: 100vh;
    margin: 0;
    background-image: url('./img/gameOver.png');
    background-size: cover; /* Modificato per far sì che lo sfondo copra l'intera finestra */
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
}
  .button {
    /* Aggiungi qui i tuoi stili per il pulsante */
    background-color: transparent; /* Colore di sfondo */
    border: none; /* Nessun bordo */
    padding: 85px 200px; /* Spaziatura interna */
    position: absolute; /* Posizionamento assoluto */
    top: 535px; /* Posizione verticale */
    left: 560px; /* Posizione orizzontale */
    z-index: 1; /* Sovrappone il pulsante sopra gli altri elementi */
  }